.work
patched

server/dist*
server/static/tmp/
server/static/combined/
server/config/client_session_key.aes
server/*.hi
server/*.o
server/*.sqlite3
server/*.sqlite3-shm
server/*.sqlite3-wal
server/.hsenv*
server/cabal-dev/
server/.stack-work/
server/.stack-work-devel/
server/yesod-devel/
server/.cabal-sandbox
server/cabal.sandbox.config
server/.DS_Store
server/*.swp
server/*.keter
server/*~
server/\#*
server/server.cabal
